name: zain.yaml

on:
  push:
    branches:
      - Zain

  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Print message
        run: echo "Workflow triggered on zain branch"
      
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          
      - name: Build code
        run: |
          python3 main.py
